.head-wrapper .head ul li:nth-of-type(2) a span {
    border-right: none;
}

/* main start */
.main .list_con_top {
    width: 1080px;
    margin: 0 auto;
    font: 12px/20px "微软雅黑";
    color: #495055;
}
.main .list_con_top a {
    font: 12px/20px "微软雅黑";
    color: #495055;
}
.main .list {
    width: 1080px;
    margin: 0 auto;
}
.main .img-list1 {
    line-height: 25px;
    text-indent: 2em;
    color: #666;
    font-family: "微软雅黑";
    font-size: 15px;
}
.main .img-list1 ul {
    width: 100%;

}
.main .img-list1 ul li {
    float: left;
    width: 320px;
    height: 240px;
    margin: 20px;
    position: relative;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.main .img-list1 ul li a {
    float: left;
    width: 100%;
}
.main .img-list1 ul li a img {
    float: left;
    width: 100%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.main .img-list1 ul li a span {
    width: 100%;
    height: 60px;
    line-height: 60px;
    text-align: center;
    color: #fff;
    font-size: 20px;
    position: absolute;
    bottom: 0;
    left: 0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.main .img-list1 ul li a .bg {
    width: 100%;
    height: 60px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: #000;
    opacity: 0.9;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

/* footer */
.foot-bottom {
    margin-top: 42px;
}